/* Extending The Inheritances */

/* Applying color variation */
.button-blue {
  background-color: #00B2EE;
  border-color: #00B2EE;
  margin-right: 1rem;
}
.button-blue:hover, .button-blue:focus {
  background-color: #009ACD;
  border-color: #009ACD;
}

.button-blue.button-outline {
  color: #00B2EE;
}
.button-blue.button-outline:hover, .button-blue.button-outline:focus {
  color: #009ACD;
  border-color: #009ACD;
}
.button-blue.button-clear {
  color: #00B2EE;
}

#timer{
  font-size: 9.0rem;
}

.todo-div {
  max-width:600px;
  margin: auto;
}

.todo-header {
  text-align: center;
}

input {
  margin: 0.3rem;
  border-radius: 0.4rem;
  padding-left: 1rem;
  padding: 6px;
  border-style: ridge;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  padding: 5px 8px 5px 40px;
  list-style-type: none;
  background: #eee;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 8px 5px 8px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}
