/* Extending The Inheritances */

/* Applying color variation */
.button-blue {
  background-color: #00B2EE;
  border-color: #00B2EE;
  margin-right: 1rem;
}
.button-blue:hover, .button-blue:focus {
  background-color: #009ACD;
  border-color: #009ACD;
}

.button-blue.button-outline {
  color: #00B2EE;
}
.button-blue.button-outline:hover, .button-blue.button-outline:focus {
  color: #009ACD;
  border-color: #009ACD;
}
.button-blue.button-clear {
  color: #00B2EE;
}

#timer{
  font-size: 9.0rem;
}



/* player */
#player {
  width: 100%;
  height: 45px;
  background: #00B2EE;
  position: fixed;
  bottom: 0;
  color: #fff;
  display:flex;
  align-items: center;
  padding: 0px 10px;
}

.player__heading {
  margin: 0;
  margin-right: 10px;
}

#player-switch {
  height: 20px;
  width: 20px;
  border-radius:2px;
  border: 2px solid #fff;
  position: relative;
  margin-right: 10px;
  box-sizing: border-box;
}

#player.on #player-switch:before {
  content: "";
  position:absolute;
  background: #fff;
  height: 12px;
  width: 12px;
  border-radius: 1px;
  transform: translate(2px, 2px);
}

#player-selector {
  width: auto;
  margin: 0;
}

#player-selector option {
  color: #009ACD;
}