/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
  border: 2px solid rgba(0, 178, 238, .5);


}
/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 5px 10px;
  background: #FF9061;
  color: rgba(0, 0, 0, .5);
  font-weight: 800;
  font-size: 20px;
  list-style-type: none;
  transition: 0.2s;
  display: flex;
  align-items: center;
  margin: 0;

}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #FFC861;
}

/* Darker background-color on hover */
ul li:hover {
  background: #00B2EE;
}

/* When clicked on, add a background color and strike out text */
.text.checked-text{
  color: #606C7A;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.hide{
  display: none;
}

/* Style the remove button */
.remove {
  padding: 12px 16px 12px 16px;
}
span.text {
  flex-grow: 1;
}
.remove:hover {
  background-color: rgb(244, 67, 54);
  color: #eee;
}

/* Style the header */
.header {
  background-color: rgba(0, 178, 238, .5);
  padding: 5px;
  text-align: center;
}

.header h4 {
  margin: 0;
  color: #606C7A;
  font-weight: 1000;
}


/* Style the input */
input#myInput {
  margin: 0;
  border: none;
  border: 2px solid rgb(244, 67, 54);
  border-radius: 5px;
  width: 70%;
  padding: 15px;
  color: #555;
  font-weight: 800;
  float: left;
  font-size: 16px;
}
.container-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: rgb(244, 67, 54);
  color: #555;
  float: left;
  color: white;
  font-weight: 800;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #888;
}
