html
  head
    meta(name='viewport' content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet' href='../css/milligram.min.css')
    link(rel='stylesheet' href='../css/pomodoro.css')
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-11111111-1', 'yourdomain.com');
        ga('send', 'pageview');
    <script data-ad-client="ca-pub-7761376897613924" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  body
    .container
      .row
        h1= message
      .row
        .column
          button.button-blue(id='mainButton' name='start' onclick='startTheDay()') Start your Pomorodo!
          button.button-blue.button-outline(id='pauseButton' name='pause' onclick='pauseTimer()') Pause
          #timer 25:00
          h4#pomodoro-done Pomodoro(s):
        .column
          span <strong>How it works?</strong> <br>1. At the beginning of the day, list out your tasks in priority from high to low
              | <br>2. Work on tasks (from the top) for a Pomodoro (25 minutes) without distractions (calls, messages, gossip, etc)
              | <br>3. When 25 minutes is up, a Pomodoro is recorded (as an X)
              | <br>4. Take a 5-minute short-break, then continue with another Pomodoro
              | <br>5. Every 4 Pomodoros, take a 15-minute long-break
              | <br>6. <strong>Deal with distractions:</strong> If it is non urgent (gossips, texts, distracting thoughts, etc.), note it down to get to it later in break time and come back to the thing you're working on immediately.
              | <br>7. If there is something urgent you have to take care of while in a pomodoro, discard the unfinished pomodoro.
              | <br>8. Batch small chunks of similar work into 1 pomodoro to do them more effectively, e.g. reply to emails, messages, make calls, etc.
              | <br><a href="https://github.com/LeeU1911/web-pomodoro" target="_blank">More info and feedback here</a>
  script(src="../js/pomodoro.min.js")
